@font-face {
  font-family: vazir;
  src: url(./Assets/Fonts/Vazir-FD.woff);
  font-weight: normal;
}
@font-face {
  font-family: vazir;
  src: url(./Assets/Fonts/Vazir-Bold-FD.woff);
  font-weight: bold;
}
@font-face {
  font-family: vazir;
  src: url(./Assets/Fonts/Vazir-Thin-FD.woff);
  font-weight: 300;
}

:root {
  --bgColor: #000c14;
  --cardColor: #191a23;
  --textColor: #f8f8f8;
  --primary: #0061e0;
  --warning: #fdb21c;
  --black200: rgba(0, 0, 0, 0.2);
  --white200: rgba(255, 255, 255, 0.2);
}

.light {
  --bgColor: #d5d7f0;
  --cardColor: #f1f2ff;
  --textColor: #000c14;
  --black200: rgba(0, 0, 0, 0.1);
  --white200: rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "vazir", sans-serif;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.themeFix {
  direction: ltr;
  width: auto;
  position: absolute;
  top: 50px;
  left: 50px;
  overflow: hidden;
}

#theme {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--textColor);
  font-size: 2rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px var(--white200) inset;
  transition: 0.5s;
}

#theme:hover {
  transform: rotate(-45deg);
}

.container {
  background-color: var(--cardColor);
  padding: 2.5em 4em;
  border-radius: 10px;
  width: 1000px;
  box-shadow: 0px 0px 60px -15px var(--black200);
  position: absolute;
  top: auto;
  height: 300px;
  overflow: hidden;
  transition: height 0.6s ease-out;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 26px;
  font-weight: bold;
}

form.input {
  display: flex;
  width: 100%;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input input {
  width: 100%;
  font-size: 1.4rem;
  border-radius: 6px;
  outline: none;
  border: none;
  padding-right: 8px;
}

.input input:focus {
  outline: 3px solid CornflowerBlue;
}

.input button {
  width: 20%;
  color: #f8f8f8;
  background-color: var(--primary);
  border: none;
  font-size: 1.4rem;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.input button:hover {
  background-color: #0058cc;
  transform: scale(0.98);
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0.4;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--white200);
  padding: 4px 8px;
  transition: 0.3s;
}

li:hover {
  background-color: var(--black200);
  border-radius: 6px;
}

li input {
  cursor: pointer;
  margin-left: 6px;
  position: relative;
  top: 3px;
}

label {
  cursor: pointer;
}

.remove {
  color: red;
  cursor: pointer;
  transition: all 0.4s;
}

.remove:hover {
  box-shadow: 0px 0px 8px -2px red;
  transform: scale(1.1) rotate(15deg);
}

.reset {
  background-color: var(--warning);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 12.5px 20px;
  display: flex;
  align-items: center;
  margin: 2em auto 0;
  transition: 0.1s;
}

.reset i {
  margin-left: 8px;
}

.reset:hover {
  background-color: red;
  color: white;
  transform: scale(0.98);
}

@media (orientation: landscape) and (max-height: 600px) {
  body .container {
    width: 75%;
    padding: 1.5em 1em;
  }
  .input button {
    width: 30%;
  }
}

@media (min-width: 1900px) {
  .themeFix {
    width: 1770px;
    top: 60px;
    left: auto;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 2.5em 3em;
  }
  .themeFix {
    top: 30px;
    left: 30px;
  }
}

@media (max-width: 868px) {
  .input input {
    font-size: 1.2rem;
  }
  .input button {
    font-size: 1.2rem;
    width: 25%;
    padding: 10px 8px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 2.5em 2em;
  }
  h1 {
    font-size: 1.8rem;
  }
  .input button {
    width: 30%;
  }
  .input button:active {
    background-color: limegreen;
  }
  .reset {
    font-size: 1.1rem;
  }
  .themeFix {
    top: 15px;
    left: 15px;
  }
  #theme {
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 97%;
    padding: 2.5em 0.8em;
  }
  h2 {
    font-size: 1rem;
  }
  form.input {
    gap: 8px;
  }
  .input input {
    font-size: 1.05rem;
  }
  .input button {
    font-size: 1.05rem;
    padding: 10px 0px;
  }
  .reset {
    padding: 9px 10px;
  }
}
